<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @painting.title %>
</p>
<%= image_tag @painting.paint_image %>
<p>
  <strong>Description:</strong>
  <%= @painting.description %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_painting_path(@painting) %> 
<%end%>
<%= link_to 'Back', paintings_path %>
